.apart{
    width: 65%;
    padding-left: 490px;
    padding-top: 20px;
}

.card-text-bold{
    background: aliceblue;
    text-decoration-style: solid;
}

.apart-add{
    padding-left: 550px;
}
.apart-add a{
    text-decoration: none;
    color: rgb(164, 197, 114);
}

.apart-add a:hover{
    color: #626762;
}

.home-appart{
    background:rgb(164, 197, 114);
}