<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commans::head"></head>
<body>
<header th:replace="fragments/commans::header"></header>
<div class="container-input-apartment">
    <h2>THIS APARTMENT HAS OWNER</h2>
    <a class="another-number" href="/add-new-apartment-in-my-list">PLEASE ENTER ANOTHER APARTMENT NUMBER</a>
    <div class="video-wrapper">
        <video src="/images/hasOwnerVideo.mp4" autoplay loop muted></video>
    </div>
    </form>
</div>
</body>
</html>