<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commans::head"></head>
<body>
<header th:replace="fragments/commans::header"></header>
<main>
    <div class="home-container">
        <h2>ALL NEWS</h2>

        <div class="apart-add">
        <a href="/add-news">ADD YOUR NEW APARTMENT</a>
        </div>

        <div class="apart">
            <div th:each="n :${news}" th:object="${n}" class="free-apart">
                <div class="card-body">
                    <div class="text-center">
                        <p class="card-text-bold" th:text="|Category: *{category.categoryName}|"></p>
                        <p class="card-text border-bottom " th:text="|Name: *{name}|"></p>
                        <p class="card-text border-bottom " th:text="|Descriptions: *{descriptions}|"></p>
                        <p class="card-text border-bottom " th:text="|Active from: *{dateFrom}|"></p>
                        <p class="card-text border-bottom" th:text="|Active to: *{dateTo}|"></p>
                        <p class="card-text border-bottom" th:text="|Author: *{author.username}|"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>