<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commans::head"></head>
<body>
<header th:replace="fragments/commans::header"></header>
<div class="container-apart">
    <h2>ARE YOU THE OWNER?</h2>
    <form th:action="@{/apartment-number-enter}" method="POST" th:object="${apartmentEnterDto}" >
    <div>
        <div class="col-auto">
            <label for="inputApartmentNumber" class="col-form-label text-light">Please, enter your apartment number</label>
        </div>
        <div class="col-auto">
            <input  th:field="*{apartmentNumber}" th:errorclass="bg-danger"  type="text" name="apartmentNumber" id="inputApartmentNumber" class="form-control"
                   aria-describedby="ApartmentNumberHelpInline">
        </div>
        <div class="col-auto">
            <small th:if="${#fields.hasErrors('apartmentNumber')}" th:errors="*{apartmentNumber}" id="apartmentNumberError" class="text-light form-text bg-danger rounded"></small>
        </div>
    </div>
        <div class="d-flex justify-content-center mt-2">
            <button class="button" type="submit">SUBMIT</button>
        </div>
    </form>
</div>
</body>
</html>